
.ab2{
    border-width: 6px;
    border-color: red;
}
.a{
    border-left: solid red 6px;
    color: white;
    background-color: green;
}

.b{
    border-right: solid red 6px;
    color: white;
    background-color: green;
}



.c{
    border-top: solid red 6px;
    
    border-bottom: solid blue 6px;
    color: white;
    background-color: green;
}



.d{
    
    background-color: green;
}

