
h1
{
    color: green;
    background-color: blueviolet;
}

p{
     color: beige;
     background-color: black;
}
#ab1 {
    color: purple;
    background-color: pink;
}

.xyz{
    color: skyblue;
    background-color: lightcoral;
}

p.xy1
{
    color: brown;
    background-color: grey;
}

p>a{
    color: blueviolet;
    background-color: aqua;
}