p>a{
    color: blueviolet;
    background-color: aqua;
    font-family:cursive;
}

div a {
    color: rgb(10, 216, 10);

}

h1 ,p{
    color: orange;
    background-color: blue;
}

input[type="text"]
{
    color: red;
}